.container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.child {
    width: 50%;
}

.form-control {
    margin-bottom: 10px;
}

.bg-light {
    font-size: 24px;


}

.round-btn {
    border-radius: 100px;
}

